RewriteEngine On
RewriteBase /

# Redirect http://www. -> http://     (Optional)
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Allow access to files in the static directory straight
# through Apache, without going through Esprit's controller.
RewriteRule ^static/(.*)$ static/$1 [L,NC]

# All other requests should go to index.php, where you
# setup and run \esprit\core\Controller
RewriteRule ^.+$ index.php [L,QSA,NC]
